<h4>Example multiple CVA's</h4>
<div>
  If you have 2 accessors your first issue is: What ones goes first?
  lets say you have 2 writeValue functions
  <pre>
    writeValue(value: string){{'{'}} //percent
  this.el.nativeElement.value = parseFloat(value) / 100
    }
    writeValue(value: string){{'{'}} //round
  this.el.nativeElement.value = parseFloat(value).toFixed(2)
    }
  </pre>

  then lets say you write the value 10.11
  if you call percent then round you will get 0.1011
  but if you call round then percent you will get 0.10
</div>
<ng-container [formGroup]="formGroup">
  <input round-cva name="testCva" formControlName="multipleCVANumber"/> <!-- === 10.11 -->

  <!-- Angular throws a runtime error when trying to apply multiple CVA's on a single element f.e.:-->
  <!--    <input round-cva percent-cva name="testCva" formControlName="multipleCVANumber"/>-->

  <h3>First percentage second rounding</h3>
  <app-percentage-round-cva formControlName="percentageRoundCVANumber"></app-percentage-round-cva>
  <h3>First rounding second percentage</h3>
  <app-round-percentage-cva formControlName="roundPercentageCVANumber"></app-round-percentage-cva>
</ng-container>
